<%- include('../includes/head.ejs') %> 
  <title>Document</title>
</head>
<body>
  <%- include('../includes/primary-nav.ejs') %> 
  <div class="container">
    <% if (errorMessage) { %>
      <span><%= errorMessage %></span>
    <% } %> 
    <form action="/auth/create-user" method="post">
      <input type="text" name="name" placeholder="You Name? ">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="confirmpassword" placeholder="Confirm Password">
      <input type="email" name="email" placeholder="You Email">
      <input type="tel" name="phone" placeholder="Phone No(Optional)">
      <input type="date" name="date_of_birth" placeholder="Your Date of Birth">
      <input type="text" name="country" placeholder="Country">
      <input type="text" name="state" placeholder="State(Optional)">
      <input type="text" name="city" placeholder="City">
      <div>
        <label for="category">I am </label>
        <select id="category" name="category">
          <option value="employee">Loking for a job</option>
          <option value="partner">Looking for a business partner</option>
          <option value="investor">An Investor</option>
        </select>
      </div>
      <div>
        <label for="gender">Gender </label>
        <select id="gender" name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <input type="number" name="experience" placeholder="Your Work Experience(In year)">
      <input type="text" name="role" placeholder="Your Role/Title">
      <textarea name="bio" rows="5" placeholder="Tell us about yourself"></textarea>
      <input type="submit" value="Signup">
    </form>
  </div>
  <%- include('../includes/footer.ejs') %> 