*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 50%; // 1 rem = 8rem ;

	@media screen and (min-width: 700px) {
		font-size: 56.25%; // 1 rem = 9 px;
	}
	@media screen and (min-width: 1000px) {
		font-size: 62.5%; // 100% = 16px = 1rem(default); 62.5%  = 10px = 1rem(modified);
	}
}

body {
	box-sizing: border-box;
	font-size: 2rem;
	color: $color-font-default;
	font-family: 'Roboto', sans-serif;
}

::selection {
	//later
}

pre > code {
	font-size: 1.8rem;
}

a,
a:hover {
	// text-decoration: none;
	color: rgb(46, 46, 46);
	// margin: 0;
	// padding: 0;
}

footer {
	text-align: center;
	margin: 2rem 0;
}

.logout {
	margin: 0;
	background-color: transparent;
	border: none;
	padding: 0;
	font-size: inherit;
	text-decoration: underline;
	cursor: pointer;
}
