.user {
  display: flex;
  
  &__list {
    flex-grow: 1;
  }

  &__filter {
    flex: 10%;
    background-color: #fff;
    border-radius: 2rem;

    & > form {

      margin: 1rem;

      & input {
        border-radius: 1rem;
        border: 2px solid #777;
      }

      & .type {
        display: flex;
      }
    }
  }

}