.container {
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;

	@media only screen and (min-width: $container-width) {
		width: $container-width;
		padding: 0;
	}
}

.decoration-none {
	text-decoration: none;
}

.mr-1 {
	margin-right: 2rem;
}

.mt-2 {
	margin-top: 4rem;
}

.mt-2-not-1st-child {
	& > *:not(:first-child) {
		margin-top: 4rem;
	}
}

.mt-3 {
	margin-top: 6rem;
}