$color-font-default: rgb(12, 12, 12);
$color-font-grey: rgb(85, 85, 85);

$color-primary: #1abc9c;

$color-dark: #2c3e50;
$color-dark-shade: #34495e;

$color-grey: #bdc3c7;
$color-grey-light: #ecf0f1;
$color-danger: #e74c3c;
$color-success: #2ecc71;
$color-info: #3498db;

$container-width: 85rem;

$shadow-top: 0rem 1rem 1rem rgba(0, 0, 0, 0.15);
$shadow-card: 0 0.5rem 1rem rgba(#000, 0.15);