<section class="navbar">
  <div class="container">
    <span class="navbar__brand"> <a class="decoration-none" href="/">New Career</a></span>
    <ul class="navbar__list">
      <li class="navbar__list-item mr-1"><a href="/users">Users</a></li>
      <% if (!isLoggedIn) { %> 
      <li class="navbar__list-item"><a href="/auth/signup">Signup</a></li>
      <li class="navbar__list-item"><a href="/auth/login">Login</a></li>
      <% } else { %>
      <form action="/auth/logout" method="POST">
        <input class="logout" type="submit" value="Logout">
      </form>
      <% }  %>
    </ul>
  </div>
</section>