<%- include('./includes/head.ejs') %> 
  <title>Home</title>
</head>
<body>
  <%- include('./includes/primary-nav.ejs') %> 
  Hello <%= username %><br>

  <a href="http://newcareer.herokuapp.com/post">Click here to post</a><br />
  <a href="http://newcareer.herokuapp.com/show_post">Click here to show posts</a><br />
</body>
</html>