<!DOCTYPE html>
<html>
<body>
<h1>Create Post</h1>
<form action="/redirect" method = "POST">
  <label for="">Create Post:</label><br>
  <textarea name='body' rows="3" cols="30"></textarea><br>
  <input type="submit" value="Post">
</form>
</body>
</html>