*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 50%; }
  @media screen and (min-width: 700px) {
    html {
      font-size: 56.25%; } }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box;
  font-size: 2rem;
  color: #0c0c0c;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa; }

pre > code {
  font-size: 1.8rem; }

a,
a:hover {
  color: #2e2e2e; }

footer {
  text-align: center;
  margin: 2rem 0; }

.logout {
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
  cursor: pointer; }

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto; }
  @media only screen and (min-width: 85rem) {
    .container {
      width: 85rem;
      padding: 0; } }

.decoration-none {
  text-decoration: none; }

.mr-1 {
  margin-right: 2rem; }

.mt-2 {
  margin-top: 4rem; }

.mt-2-not-1st-child > *:not(:first-child) {
  margin-top: 4rem; }

.mt-3 {
  margin-top: 6rem; }

.navbar {
  font-size: 2rem;
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.15); }
  .navbar > * {
    display: flex;
    justify-content: space-between; }
  .navbar .navbar__list {
    display: flex; }
  .navbar__list-item {
    margin-left: 2rem;
    list-style: none; }

form {
  display: flex;
  flex-direction: column; }
  form * {
    margin-top: 2rem;
    padding: 1.8rem;
    font-size: 1.8rem; }

.card {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #fff; }
  .card__image {
    height: 20rem;
    border-right: 1px solid #afafaf; }
    .card__image img {
      height: 100%; }
  .card__info {
    margin-left: 2rem;
    display: flex;
    flex-direction: column; }
    .card__info > span {
      margin-bottom: 2rem; }

.user {
  display: flex; }
  .user__list {
    flex-grow: 1; }
  .user__filter {
    flex: 10%;
    background-color: #fff;
    border-radius: 2rem; }
    .user__filter > form {
      margin: 1rem; }
      .user__filter > form input {
        border-radius: 1rem;
        border: 2px solid #777; }
      .user__filter > form .type {
        display: flex; }
